<section class="content">
	<h1>JOIN OUR TEAM!</h1>

	<p>At Jabooda, we are always seeking out highly talented individuals with the motivation to push our team forward. Check out our openings below.</p>

	<p>Please note that all positions require that the candidate have 3 to 4 years of experience minimum within the respective field. Candidates must be able to work independently and have prior knowledge.</p>

	<br>

	<h2> Positions </h2>

	<a href="careers#Superintendent"> Superintendent </a>
	<br>
	<a href="careers#PROJECT_MANAGER"> Project Manager </a>
	<br>
	<a href="careers#EXCAVATOR_OPERATOR"> Excavator Operator </a>
	<br>
	<a href="careers#FOREMAN"> Foreman </a>
	<br>
	<a href="careers#FRAMER"> Framer </a>


	<hr>

	<div *ngIf="careers">

		<section class="section-position">

			<div *ngFor="let career of careers">
				<h2 id={{career.identifier}} >{{ career.jobtitle }}  </h2>

				<p> Primary responsibilities include </p>

				<mat-list *ngFor="let careerrequirement of career.requirements"> 
				<mat-list-item>
				{{careerrequirement}} 
				</mat-list-item>
				</mat-list>
				<hr>

			</div>

		</section>

	</div>

<p>Got our skills? Send over a résumé and cover letter to our e-mail at jaboodahomes@yahoo.com</p>
</section>