<mat-toolbar>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/projects" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Projects</a>
  <a mat-button routerLink="/subcontracting" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Subcontracting</a>
  <a mat-button routerLink="/careers" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Careers</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact Us</a>
</mat-toolbar>