
<!-- OUTER COLUMN -->
<div class="outercontainer"
	fxLayout="row"
	fxLayoutAlign="center start">

	<!-- OUTER ROW -->
	<div class="container"
	  fxLayout="row"
	  fxFlex="50">

		<!-- LEFT PAGES -->

		<ul>
			<li> <a routerLink="/home" routerLinkActive="active"> Home  </a> </li>

			
			<li> <a routerLink="/projects" routerLinkActive="active"> Projects
			 </a> </li>

			<li> <a routerLink="/careers" routerLinkActive="active"> Careers
			</a> </li>
		</ul>

		<ul>
			<li> <a routerLink="/about" routerLinkActive="active"> About
			</a> </li>

			<li> <a routerLink="/subcontracting" routerLinkActive="active"> Subcontracting </a></li>

			<li> <a routerLink="/contactus" routerLinkActive="active"> Contact Us </a>
			</li>	

		</ul>
	
	</div>

	<div class="container"
	  fxLayout="row"
	  fxFlex="50">

	  <p> COL 2</p>

	  </div>

</div>




<!--

	<div class="rowText"
		fxLayout="row"> 

	<a routerLink="/home" routerLinkActive="active"> Home </a>
	<div >  </div>
	<a  routerLink="/about" routerLinkActive="active"> About </a>

	</div>

	<div class="rowText"
		fxLayout="row"
		fxFlex="30"> 

	<a routerLink="/projects" routerLinkActive="active"> Projects </a>
	<div >  </div>
	<a routerLink="/subcontracting" routerLinkActive="active"> Subcontracting </a>

	</div>

	<div class="rowText"
		fxLayout="row"
		fxFlex="30"> 

	<a  routerLink="/careers" routerLinkActive="active"> Careers </a>
	<div>  </div>
	<a  routerLink="/contactus" routerLinkActive="active"> Contact Us </a>

	</div>







<!--

<mat-toolbar>
  <a mat-button routerLink="/home" routerLinkActive="active"> Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active"> About</a>
  <a mat-button routerLink="/projects" routerLinkActive="active"> Projects</a>
  <a mat-button routerLink="/subcontracting" routerLinkActive="active"> Subcontracting</a>
  <a mat-button routerLink="/careers" routerLinkActive="active"> Careers</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"> Contact Us</a>

  		<br> <br>
  		<p>Jabooda Homes, Inc.</p>
		<p>Mercer Island, WA</p>
		<p>2016</p>
</mat-toolbar>
--> 
