<mat-toolbar>
  <a mat-button routerLink="/home" routerLinkActive="active"> Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active"> About</a>
  <a mat-button routerLink="/projects" routerLinkActive="active"> Projects</a>
  <a mat-button routerLink="/subcontracting" routerLinkActive="active"> Subcontracting</a>
  <a mat-button routerLink="/careers" routerLinkActive="active"> Careers</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"> Contact Us</a>

  		<br> <br>
  		<p>Jabooda Homes, Inc.</p>
		<p>Mercer Island, WA</p>
		<p>2016</p>
</mat-toolbar>