$dark-font: #272727;

.container {
    color: $dark-font;

    .top {
        padding-top: 55px;

        img {
            position: relative;
            left: 50px;
        }
    }

    h1 {
        font-size: 86px;
    }

    p {
        font-size: 20px;
    }
}