img {
    height: 600px;
    width: 500px;
}

.container {
    margin: auto;
    text-align: center;

    mat-card {
        text-align: center;
    
        mat-card-header {
            text-align: center;
            margin: 0 auto 0 auto;
        }
    }
}

#preWrapper {
    width: 100%;
    overflow-x: scroll;
    
}

#imageWrapper {
    height: 155px;
    display: inline-flex;
    overflow-y: hidden;
}

#imageContainer {
    display: inline;

    img {
        height: 150px;
        width: 200px;
        margin: 0px 2px;
        border-radius: 5px;
    }
}

::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 500px;
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 500px;
}