$dark-font: #272727;

.jumbotronImage {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 175px 0px;

    position: relative;
    top: 0px;

    z-index: -99999999;

    text-align: center;

    #jumbotronContent {
        position: relative;

        color: white;

        #imageContainer {
            img {
                height: 100%;
                width: 100%;
            }
        }

        p {
            font-size: 24px;
            position: relative;
            top: 20px;
        }
    }
}

.content {
    padding: 55px;
    color: $dark-font;

    h1 {
        font-size: 86px;
    }

    p {
        font-size: 20px;
    }
}

.imgContainer {
    padding: 0;
    width: 100%;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        position: relative;
    }
}

#mainImageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background: black;

    img {
        max-width: 100%;
        opacity: 0.4;
    }
}

#projects {
    text-align: center;

    p {
        position: relative; 
        color: white; 
        top: -320px; 
        font-size: 46px;
    }
}

#careers {
    position: relative;
    top: -150px;

    margin-bottom: -110px;

    a {
        background-color: $dark-font;
        color: #D9D9D9;
    }
}