#containerImage {
    margin: 0;
    padding: 0;
    width: 100%;
}

.jumbotronImage {
    width: 100%;
    height: 800px;

    margin: 0;
    padding: 0;

    position: relative;
    top: -21px;

    z-index: -99999999;
}