<div class="container jumbotron"
  fxLayout="row"
  fxLayout.sm="column" 
  fxLayout.xs="column" 
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" 
  fxLayoutAlign.gt-sm="center center" 
  fxLayoutGap="10px">

  <div class="jumbotronImage" style="background: url(../assets/images/homebanner.jpg);"
    fxFlex 
    fxFlex.gt-sm="50%"
    fxLayoutAlign="center center">

    <div id="containerImage">
    </div>  

    <h1>Jabooda Homes, Inc.</h1>
    <p>At Jabooda, we believe in a home for every family. Come take a look at all of our listings in the Seattle area!</p>
  </div>
</div>