<div class="container jumbotron"
  fxLayout="row"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" 
  fxLayoutAlign.gt-sm="center center" 
  fxLayoutGap="10px">

  <div class="jumbotronImage" style="background: url(../assets/images/homebanner.jpg);"
    fxFlex="100"
    fxLayoutAlign="center center">

    <div id="jumbotronContent">
      <div id="imageContainer"
        fxLayout="row"
        fxLayoutAlign="center center">
        <img fxFlex="85" src="../assets/images/largelogoshadow.png">
      </div>
      <p>At Jabooda, we believe in a home for every family. Come take a look at all of our listings in the Seattle area!</p>
    </div>
  </div>
</div>

<div class="container content"
  fxLayout="column"
  fxLayoutAlign="center center">
  <h1 fxLayout="row">WHO ARE WE?</h1>
  <p fxLayout="row">Jabooda Homes, Inc. specializes in modern, contemporary, traditional and custom style residential homes. 
    We are based out of Mercer Island, WA and hold JABOOHI853D7 (Construction Contractor, General) licenses according
    to the Washington license board. With over 10 years of experience with construction and development, we make
    construction processes simple and strive to maintain friendly client relationships.
  </p>
  <p fxLayout="row">
    Many of our homes include Green Four Star certifications. As members of the Master Builders Association, we have one objective
    in mind: to fulfill and satisfy everyone's needs inside their home. Our projects include both custom and spec residential homes, and
    both multi-family and single family homes. We take proud responsibility for all of our work.
  </p>
</div>

<div class="container" id="projects">
  <a href="/projects">
  <div fxLayout="row" id="mainImageWrapper" style="height: 500px;"> 
    <img src="../assets/images/Photo-50.jpg">
  </div>
  </a>
  <p>Check out our listings now!</p>
</div>


<div class="container content"
  id="careers"
  fxLayout="column"
  fxLayoutAlign="center center">
  <h1 fxLayout="row">WE'RE HIRING!</h1>
  <p fxLayout="row">
      Are you enthusiastic about all things construction? Are you passionate about the direction of where residential real estate is headed in Seattle? Come check out our current open positions.
  </p>

  <a mat-button href="/careers">View Available Positions</a>
</div>